.user .panel-body {
  height: 100px;
}
.user .panel-heading {
  height: 250px;
}
.user .panel-heading img {
  height: 100%;
  max-width: 100%;
}
p.user-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.buttons.text-center form {
    display: inline-block;
}

.cover{
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
  background: url("/images/toppage.jpg") center center no-repeat;
  background-size: cover;
}
