.user .panel-body {
  height: 70px;
}
.user .panel-heading {
  height: 250px;
}
.user .panel-heading img {
  height: 100%;
  max-width: 100%;
}
p.user-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}